.flex-form {
    display: flex;
    justify-content: space-between;
}
.form-group-box {
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 3px 3px 3px #eee;
    padding: 15px;
    height: fit-content;
}
