 <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" (keydown.enter)="$event.preventDefault()">
  <div class="form-group">
      <mat-form-field>
        <input matInput placeholder="Username" type="text" id="username" formControlName="username">
        <mat-error>
          Username is <strong>required</strong>
        </mat-error>
      </mat-form-field>
  </div>

  <!-- <div class="form-group select-with-mat-radio-group">
    <mat-label>
      Would you like to sign up with email or phone?
    </mat-label>
    <br>
    <mat-radio-group aria-label="Select an option" formControlName="contactMode">
      <mat-radio-button
        color="primary"
        value="email"
        [checked]="authFormIsEmail"
        (change)="onSelectContactMode('authForm', authForm, 'email')">
        <span>
          Email
        </span>
      </mat-radio-button>
      <mat-radio-button
        color="primary"
        value="sms"
        [checked]="authFormIsPhone"
        (change)="onSelectContactMode('authForm', authForm, 'sms')">
        <span>
          Sms
        </span>
      </mat-radio-button>
    </mat-radio-group>        
  </div> -->

  <div class="form-group">
    <mat-form-field>
      <input matInput placeholder="Email" type="email" id="signup-email" formControlName="email">
      <mat-error *ngIf="signUpForm.get('email').hasError('email') && !signUpForm.get('email').hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="signUpForm.get('email').hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="signUpForm.get('email').hasError('emailTaken')">
        Email is <strong>already taken</strong>
      </mat-error>
    </mat-form-field>
  </div>

  <div class="phone-field-container">
    <mat-label id="auth-phone-label">Phone</mat-label>
    <ngx-intl-tel-input 
      [preferredCountries]="['us', 'ca']" 
      [enablePlaceholder]="true"
      [enableAutoCountrySelect]="true"
      name="phone"
      formControlName="phone">
    </ngx-intl-tel-input>
    <span class="underline-solid"></span>
  </div>

  <div class="form-group">
    <mat-form-field>
      <input matInput placeholder="Password" type="password" id="signup-password" formControlName="password"  autocomplete="password">
      <mat-error *ngIf="signUpForm.get('password').hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
        <input matInput placeholder="Confirm password" type="password" formControlName="confirmPassword"  autocomplete="confirmPassword">
        <mat-error *ngIf="signUpForm.get('confirmPassword').hasError('notSame')">
          Passwords <strong>do not match</strong>
        </mat-error>  
    </mat-form-field>
  </div>

  <div class="submit-box">
    <button matRipple type="submit" class="zerwego-btn green-btn">Sign up</button>
    <button matRipple type="button" class="zerwego-btn grey-btn" routerLink="./auth/signin">
      Already signed in?
    </button>
  </div>
</form>
