<i class="material-icons" (click)="onCloseDialog()"> close </i>
<mat-horizontal-stepper #stepper>
  <mat-step [stepControl]="formGroup1">
    <app-signup></app-signup>
  </mat-step>
  <mat-step [stepControl]="formGroup2">
    <app-signin></app-signin>
  </mat-step>
  <mat-step [stepControl]="formGroup3">
    <app-forgot-password></app-forgot-password>
  </mat-step>
</mat-horizontal-stepper>
  <hr>
  <!-- <p class="text-center"> Or {{ label.title }} with</p> -->
<div class="social-box">
    <!-- <button matRipple type="button" class="facebook btn" (click)="onFacebookLogin()"><i class="fab fa-facebook-f"></i></button>
    <button matRipple type="button"  class="google btn"><i class="fab fa-google-plus-g"></i></button>
    <button matRipple type="button"  class="linkedin btn"><i class="fab fa-linkedin-in"></i></button> -->
</div>