i {
    float: right;
    cursor: pointer;
}

mat-form-field {
    width: 100%;
}

div:last-child {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    button:first-child {
        margin-bottom: 5px;
    }
}