// @import "../style/config.scss";

i {
    float: right;
    cursor: pointer;
}

mat-form-field {
    width: 100%;
}

.submit-box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    button:first-child {
        margin-bottom: 5px;
    }
}

.social-box button {
    width: -webkit-fill-available;
    padding: 10px 20px;
}

::ng-deep .mat-horizontal-stepper-header-container {
    display: none !important;
}

::ng-deep .mat-horizontal-content-container {
    padding: 0 !important;
}

.select-with-mat-radio-group {
    margin-top: 25px;
    font-weight: 200;
}

::ng-deep .mat-radio-group {
    margin: 20px 0;
    display: flex;
    justify-content: space-evenly;
}
 
.green-btn:last-child {
    width: 100%;
    margin-top: 5px;
}

.flex-row {
    display: flex;
    justify-content: space-between;
}

.column-1 {
    width: 25%;
}

.column-2 {
    width: 70%;
}