nav {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    margin-bottom: 70px;
}

.logo {
    cursor: pointer;
    &:focus {
        outline:0;
    }
}

.nav-right ul {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
    li {
        display: inline-block;
        margin: 0 20px;
    }
}