<form [formGroup]="tripForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="tripName">Trip Name</label>
      <input
        #tripNameInput
        (blur)="onBlurTripNameInput(tripNameInput.value)" 
        type="text" 
        id="tripName"
        formControlName="tripName" 
        class="form-control">
    </div>

    <div class="form-group" matAutocompleteOrigin #origin="matAutocompleteOrigin">
      <label for="destination">Destination</label>
      <input
        #destinationInput
        (blur)="onBlurDestinationInput(destinationInput.value)"
        class="form-control"
        matInput
        formControlName="destination" 
        [matAutocomplete]="auto"
        [matAutocompleteConnectedTo]="origin">
    </div>
    
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of destinationOptions" [value]="option.matching_full_name">{{ option.matching_full_name }}</mat-option>
    </mat-autocomplete>

    <div class="form-group">
      <label for="startDate">From</label>
      <input
        #startDateInput
        (blur)="onBlurStartDateInput(startDateInput.value)"  
        type="date" 
        id="startDate"
        formControlName="startDate"  
        class="form-control">
    </div>
    <div class="form-group">
      <label for="endDate">To</label>
      <input
        #endDateInput
        (blur)="onBlurEndDateInput(endDateInput.value)"  
        type="date" 
             id="endDate"
             formControlName="endDate"  
             class="form-control">
    </div>

    <div formArrayName="users">
        <h3>Participants</h3>
        <button 
            type="button"
            class="btn btn-default"
            (click)="onAddAnotherUser()">
          Add a participant
        </button>
        <div
          *ngFor="let participantCtrl of tripForm.get('users').controls; let i = index"
          [formGroupName]="i"
          class="row">
          <div class="col-xs-6">
            <input type="text"
                   formControlName="username" 
                   class="form-control">
          </div>
          <div class="col-xs-6">
            <input type="text"
                   formControlName="email" 
                   class="form-control">
          </div>   
        </div>
    </div>

    <button type="submit" class="btn btn-success">Save Trip</button>
    <button type="button" class="btn btn-primary">Cancel changes</button>
    <button type="button" class="btn btn-danger" *ngIf="editMode">Delete trip</button>
</form>