<form [formGroup]="tripForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-xs-12 col-sm-9">
      <div class="form-group-box flex-form">
        <mat-form-field>
          <input
            matInput
            placeholder="Trip Name"
            #tripNameInput
            (blur)="onBlurTripNameInput(tripNameInput.value)" 
            type="text" 
            id="tripName"
            formControlName="tripName">
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Destination"
            #destinationInput
            (blur)="onBlurDestinationInput(destinationInput.value)"
            matInput
            formControlName="destination" 
            [matAutocomplete]="auto"
            [matAutocompleteConnectedTo]="origin">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of destinationOptions" [value]="option">{{ option.matching_full_name }}</mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="From"
            #startDateInput
            (blur)="onBlurStartDateInput(startDateInput.value)"  
            type="date" 
            id="startDate"
            formControlName="startDate">
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="To"
            #endDateInput
            (blur)="onBlurEndDateInput(endDateInput.value)"  
            type="date" 
            id="endDate"
            formControlName="endDate">
        </mat-form-field>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <div formArrayName="users" class="form-group-box">
        <p>Participants</p>
        <mat-form-field>
          <input  matInput
                  placeholder="Username"
                  [errorStateMatcher]="matcher"
                  type="text"
                  #username>
          <mat-error *ngIf="true">
            Please username is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput 
                  placeholder="Email"
                  floatLabel="never"
                  type="text"
                  #email>
            <!-- <mat-error *ngIf="true">
              Please enter a valid email address
            </mat-error> -->
            <!-- <mat-error *ngIf="true">
              Email is <strong>required</strong>
            </mat-error> -->
        </mat-form-field>
        <button 
          type="button"
          class="btn btn-primary btn-full-width"
          (click)="onAddAnotherUser(username.value, email.value)">
          Add {{ username.value }}
        </button> 
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-success">Save Trip</button>
  <button type="button" class="btn btn-primary">Cancel changes</button>
  <button type="button" class="btn btn-danger" *ngIf="editMode">Delete trip</button>
</form> 
