h2 {
    margin: 22px 0 14px 0;
}

.flex-container {
    border: 1px solid #cccc;
    border-radius: 5px;
    padding: 25px;
}

button:first-child {
    margin-bottom: 32px;
}

.form-container {
    width: 30%;
}

.flex-container {
    margin-bottom: 42px;
}

form {
    mat-form-field {
        width: 100%;
    }
}