<h2>
  Hello {{ currentUser.username }}!
</h2>

<div class="flex-container">
  <div class="form-container">
      <button class="zerwego-btn blue-btn" (click)="onToggleEditMode()">{{ isEditMode ? 'Cancel changes' : 'Edit infos'}}</button>
      <form [formGroup]="form" (keydown.enter)="$event.preventDefault()">
        <mat-form-field floatLabel="always">
            <mat-label>Username</mat-label>
            <input
              matInput 
              [placeholder]="currentUser.username ? currentUser.username : 'Enter your username'" 
              type="username" id="username" 
              formControlName="username"
              >
            <!-- <mat-error *ngIf="forgotPasswordForm.get('countryCallingCode').hasError('required')">
                Country Code is <strong>required</strong>
            </mat-error> -->
          </mat-form-field>
        
          <mat-form-field floatLabel="always">
              <mat-label>Email</mat-label>
            <input matInput [placeholder]="currentUser.email ? currentUser.email : 'Enter your email'" type="email" id="email" formControlName="email">
            <!-- <mat-error *ngIf="forgotPasswordForm.get('countryCallingCode').hasError('required')">
                Country Code is <strong>required</strong>
            </mat-error> -->
          </mat-form-field>
        
          <mat-form-field floatLabel="always">
            <mat-label>Phone</mat-label>
            <input matInput [placeholder]="currentUser.phone ? currentUser.phone : 'Enter your phone number'" type="phone" id="phone" formControlName="phone">
            <!-- <mat-error *ngIf="forgotPasswordForm.get('countryCallingCode').hasError('required')">
                Country Code is <strong>required</strong>
            </mat-error> -->
          </mat-form-field>
          <button *ngIf="isEditMode" type="submit" class="zerwego-btn green-btn">Save changes</button>
      </form>
  </div>

  <div>

  </div>
</div>
