.form-container {
    border: 1px solid #cccc;
    border-radius: 5px;
    padding: 25px;
    margin-bottom: 42px;
}

button:first-child {
    margin-bottom: 32px;
}

form {
    mat-form-field {
        width: 100%;
    }
}