<h2>{{ tripFormValues.tripName }}</h2>
<h3>{{ tripFormValues.destination }}</h3>
<p>From {{ tripFormValues.startDate }} To {{ tripFormValues.endDate }} </p>
<p>Participants</p>
<mat-form-field class="example-chip-list">
    <mat-chip-list #chipList>
        <mat-chip *ngFor="let participant of tripFormValues.participants">
        {{participant.username}}
        <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
    </mat-chip-list>
</mat-form-field>

<img [src]="tripFormValues.imageUrl" [alt]="'photo of' + tripFormValues.destination">
