<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side" [opened]="true">
        <div class="top-box">
            <p class="small-title">{{ trip.tripName }}</p> 
                <button class="zerwego-btn edit-btn" type="button" (click)="openDialog('edit')">
                    <i class="material-icons">edit</i>
                </button>
            <p>{{ trip.destination }}</p>
            <p>{{ trip.startDate  | date:"MM/dd/yy" }} -> {{ trip.endDate | date:"MM/dd/yy" }}</p>
            <p>{{ trip.participants.length }}  <i class="material-icons">person</i></p>
        </div>
        <hr>
        <mat-list>
            <a *ngFor="let section of sections" 
                mat-list-item 
                matRipple
                [ngClass]="activeSection === section ? 'active-tab' : ''" 
                [routerLink]="['./', section]">
                {{ section | titlecase }}
            </a>
        </mat-list>
    </mat-drawer>
  
    <div class="sidenav-content">
        <router-outlet (activate)='onActivate($event)'></router-outlet>
      <button type="button" class="toggle-drawer-btn" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>
    </div>
  
</mat-drawer-container>
