@import "../style/config.scss";

.top-box {
    position: relative;
    .edit-btn {
        position: absolute;
        top: 0;
        right: 0;
    }
}

mat-list a {
    width: 100%;
    &:hover {
        text-decoration: none;
        background: $light-gray;
    }
}

.active-tab {
    background: $light-gray;
    font-weight: bolder;
}

.small-title {
    font-weight: 400;
    text-decoration: underline;
    text-transform: uppercase;
}

mat-drawer-container {
    height: 100vh;
}

.sidenav {
    padding: 15px;
    width: 20vw;
} 

.toggle-drawer-btn {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
}