
<form [formGroup]="form" (ngSubmit)="onSubmit()" (keydown.enter)="$event.preventDefault()">
  <p mat-dialog-title>Signin</p>

  <div class="form-group select-with-mat-radio-group">
    <mat-label>
      Would you like to login with email or phone?
    </mat-label>
    <br>
    <mat-radio-group aria-label="Select an option" formControlName="loginMode">
      <mat-radio-button
        color="primary"
        value="email"
        [checked]="isEmailLogin"
        (change)="onSelectLoginMode('email')">
        <span>
          Email
        </span>
      </mat-radio-button>
      <mat-radio-button
        color="primary"
        value="sms"
        [checked]="isPhoneLogin"
        (change)="onSelectLoginMode('phone')">
        <span>
          Phone
        </span>
      </mat-radio-button>
    </mat-radio-group>        
  </div>

  <div *ngIf="isEmailLogin" class="form-group">
    <mat-form-field>
      <input matInput placeholder="Email" type="email" id="signin-email" formControlName="email">
      <mat-error *ngIf="form.get('email').hasError('email') && !form.get('email').hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="form.get('email').hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="form.get('email').hasError('passwordNotValid')">
        Password and {{ isPhoneLogin ? 'phone number' : 'email address' }} do not match 
      </mat-error>
    </mat-form-field>
  </div>

  <div *ngIf="isPhoneLogin" class="phone-field-container">
    <mat-label id="phone-label">Phone</mat-label>
    <ngx-intl-tel-input 
      [preferredCountries]="['us', 'ca']" 
      [enablePlaceholder]="true"
      [enableAutoCountrySelect]="true"
      name="phone" 
      formControlName="phone">
    </ngx-intl-tel-input>
  </div>

  <div class="form-group">
    <mat-form-field>
      <input matInput placeholder="Password" type="password" id="signin-password" formControlName="password" autocomplete="password">
      <mat-error *ngIf="form.get('password').hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
      <mat-error
        *ngIf="form.get('password').hasError('passwordNotValid')">
        Password and {{ isPhoneLogin ? 'phone number' : 'email address' }} do not match 
      </mat-error>
    </mat-form-field>
  </div>
  <div class="submit-box">
    <button matRipple type="submit" class="zerwego-btn green-btn">Sign in</button>
    <button matRipple type="button" class="zerwego-btn grey-btn" routerLink="./auth/forgot-password">Forgot password?</button>
    <button matRipple type="button" class="zerwego-btn grey-btn" routerLink="./auth/signup">Don't have an account yet?</button>
  </div>
</form>