@import "../../style/config.scss";

.logo {
    font-size: 22px;
    cursor: pointer;
    &:focus {
        outline:0;
    }
}

mat-toolbar {
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.12), inset 0 -1px 0 0 #dadce0;
}

.nav-flex-right {
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-end;
    align-items: center;
    button {
        font-size: 16px;
        padding: 6px 16px;
    };
    a {
        margin-left: 38px;
        font-weight: 100;
        font-size: 16px;
        color: $blue;
        cursor: pointer;
    }
}

.nav-flex-right a:hover {
    color: $darker-blue;
    text-decoration: none;
}