.zerwego-btn {
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    font-weight: 200;
    &:focus {
        outline:0 !important;
    }
}

.home-btn {
    width: fit-content;
    padding: 10px 30px;
    font-size: 22px;
    border-radius: 3px;
}

.green-btn {
    background-color: $green;
    &:hover {
        background-color: $darker-green;
    }
}

.red-btn {
    background-color: $red;
    &:hover {
        background-color: $darker-red;
    }
}

.blue-btn {
    background-color: $blue;
    &:hover {
        background-color: $darker-blue;
    }
}

.transparent-btn {
    background: transparent;
    color: $blue;
}

.grey-btn {
    color: $dark-gray;
    font-weight: 200;
    padding: 8px 16px;
    background-color: transparent;
    // border: 1px solid $light-gray;
    &:hover {
        background-color: $light-gray;
    }
}

.edit-btn {
    background-color: $blue;
    color: #fff;
    display: flex;
    border-radius: 3px;
    padding: 5px;
    cursor: pointer;
    &:hover {
        background-color: $darker-blue;
    }
}

.btn-full-width {
    width: 100%;
    display: flex;
    justify-content: center;
}

.right-btn {
    float: right;
}


.social-box {
    display: flex;
    button {
        border-radius: 3px;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .facebook {
        color: #fff;
        background-color: #3B5998;
        // border: 1px solid #3B5998;
        transition: 0.2s;
        &:hover {
            // background-color: #3B5998;
            opacity: 0.85;
            color: #fff;
        }
    }
    
    .google {
        color: #fff;
        // border: 1px solid #dd4b39;
        background-color: #dd4b39;
        transition: 0.2s;
        &:hover {
            // background-color: #dd4b39;
            opacity: 0.85;
            // color: #fff;
        }
    }
    
    .linkedin {
        color: #fff;
        // border: 1px solid #0073b1;
        background-color: #0073b1;
        transition: 0.2s;
        &:hover {
            opacity: 0.85;
            // background-color: #0073b1;
            // color: #fff;
        }
    }    
    button:nth-child(2) {
        margin: 0 5px;
    }
}