@import "../../style/config.scss";

.trips-list-item {
    display: block;
    color: $dark-gray;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid $light-gray;
    border-radius: 2px;
    background-color: $light-gray;
    font-weight: 100;
    &:hover {
        text-decoration: none;
        box-shadow: 1px 1px 1px rgba(39, 45, 45, 0.1);
        font-weight: 400;
    }
}

.active-item {
    box-shadow: 1px 1px 1px rgba(39, 45, 45, 0.1);
    font-weight: 400;
}