// FONTS
@import url('https://fonts.googleapis.com/css?family=Palanquin:100,200,300,400,500,600');

// COLORS
$beige: #FBF5F3;
$light-gray: rgba(39, 45, 45, 0.05);
$gray: rgb(224, 219, 219);
$dark-gray: #272D2D;
$light-blue: rgba(53, 67, 221, 0.05);
$blue: rgb(53, 67, 221);
$darker-blue: rgb(44, 56, 189);
$green: #3BDD4C;
$red: #E82E44;
$purple: #610F7F;

// GENERAL CONFIGURATIONS
body {
    margin: 0;
    // background-color: $beige;
    font-family: 'Palanquin', sans-serif;
    color: $dark-gray;
    letter-spacing: 0.15px;
}

h2 {
    font-weight: 100;
}

.btn-full-width {
    width: 100%;
}