// FONTS
@import url('https://fonts.googleapis.com/css?family=Palanquin:100,200,300,400,500,600');
@import "~@angular/material/theming";
@include mat-core();

html, body { height: 100%; }

// COLORS
$beige: #FBF5F3;
$light-gray: rgba(39, 45, 45, 0.05);
$gray: rgb(224, 219, 219);
$dark-gray: #272D2D;
$light-blue: rgba(53, 67, 221, 0.05);
$blue: #3f51b5;
$darker-blue: #2962ff;
$transparent-blue: rgba(63, 81, 181, 0.4);
$green: #3bdd4c;
$darker-green: #34b440;
$red: #E82E44;
$darker-red: rgb(175, 35, 51);
$purple: #610F7F;

// ANGULAR MATERIAL
// I suggest that you should use another prefix, but `my-app` is fine as well
// Primary colour
$my-app-primary: mat-palette($mat-indigo, 500);
// Accent colour
$my-app-accent: mat-palette($mat-pink, A200);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent);
@include angular-material-theme($my-app-theme);

.mat-list a {
    font-family: 'Palanquin', sans-serif !important;
}

// GENERAL CONFIGURATIONS
body {
    margin: 0;
    font-family: 'Palanquin', sans-serif;
    color: $dark-gray;
    letter-spacing: 0.15px;
}

h2, h3 {
    font-weight: 100;
}

.custom-dialog-container .mat-dialog-container .mat-step-header .mat-step-label {
    font-size: 16px;
}

.custom-dialog-container .mat-dialog-container .mat-horizontal-content-container {
    padding: 0;
}