<div class="form-container">
  <button matRipple class="zerwego-btn blue-btn" (click)="onToggleEditMode()">Reset password</button>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" (keydown.enter)="$event.preventDefault()">
    <mat-form-field>
        <mat-label>Current password</mat-label>
        <input
          matInput 
          type="currentPassword" id="currentPassword" 
          formControlName="currentPassword"
          >
        <mat-error *ngIf="form.get('currentPassword').hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    
      <mat-form-field>
          <mat-label>New password</mat-label>
        <input matInput type="password" id="newPassword" formControlName="newPassword">
        <mat-error *ngIf="form.get('newPassword').hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    
      <mat-form-field>
        <mat-label>Confirm password</mat-label>
        <input matInput type="password" id="confirmPassword" placeholder="Confirm password" formControlName="confirmPassword">
        <mat-error *ngIf="form.get('confirmPassword').hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="form.get('confirmPassword').hasError('notSame')">
          Passwords <strong>do not match</strong>
        </mat-error>
      </mat-form-field>
      <button matRipple *ngIf="isEditMode" type="submit" class="zerwego-btn green-btn">Create new password</button>
  </form>
</div>