@import "../../style/config.scss";

.dialog-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    #closing-cross {
        cursor: pointer;
        margin-bottom: 20px;
    }
}

mat-form-field {
    width: 100%;
}

.submit-box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    button:first-child {
        margin-bottom: 5px;
    }
}

.social-box button {
    width: -webkit-fill-available;
    padding: 10px 20px;
}

::ng-deep .mat-horizontal-stepper-header-container {
    display: none !important;
}

::ng-deep .mat-horizontal-content-container {
    padding: 0 !important;
}

.green-btn:last-child {
    width: 100%;
    margin-top: 5px;
}

.flex-row {
    display: flex;
    justify-content: space-between;
}

.column-1 {
    width: 32%;
}

.column-2 {
    width: 64%;
}

.phone-field-container {
    margin-bottom: 30px;
}


.select-with-mat-radio-group {
    font-weight: 200;
    mat-label {
        margin-bottom: 20px;
        display: block;
        text-align: center;
    };
    mat-radio-group {
        display: flex;
        justify-content: space-evenly;
    }
}