<div class="dialog-header">
  <p mat-dialog-title>{{ labels.title }}</p>
  <span><i id="closing-cross" class="material-icons" (click)="onCloseDialog()"> close </i></span>
</div>
<mat-horizontal-stepper 
  #stepper (selectionChange)="stepChanged([signUpComponent.signUpForm, signInComponent.signInForm])">
  <mat-step>
    <app-signup #signUpComponent></app-signup>
  </mat-step>
  <mat-step>
    <app-signin #signInComponent></app-signin>
  </mat-step>
  <mat-step>
    <app-forgot-password></app-forgot-password>
  </mat-step>
</mat-horizontal-stepper>
  <hr>
  <!-- <p class="text-center"> Or {{ label.title }} with</p> -->
<div class="social-box">
  <button matRipple type="button" class="facebook btn" (click)="onFacebookLogin()"><i class="fab fa-facebook-f"></i></button>
  <button matRipple type="button"  class="google btn"><i class="fab fa-google-plus-g"></i></button>
  <button matRipple type="button"  class="linkedin btn"><i class="fab fa-linkedin-in"></i></button>
</div>