<div class="container home-page">
  <div class="row">
    <div class="col-xs-12 col-sm-8">
        <h1>Zerwego</h1>
        <h2>{{ tagline }}</h2>
        <hr>
        <img src="../../assets/mobileapp.png" alt="mobileapp" style="height: 200px">
        <!-- <button type="button" class="zerwego-btn blue-btn home-btn" routerLink="./trips/new/overview">
          Create a trip
        </button> -->
    </div>
    <div class="col-xs-12 col-sm-4">
        <!-- <ul>
          <li>Create a trip</li>
          <li>Invite friends to the trip</li>
          <li>Manage bidgets</li>
          <li>Manage reservations</li>
          <li>Share documents</li>
          <li>Update calendar</li>
          <li>Communicate</li>
          <li>Travel safe, worry-free and enjoy</li>
        </ul> -->
        <app-home-signup></app-home-signup>
    </div>
  </div>
</div>
<app-footer></app-footer>