<div class="container home-page">
  <div class="row">
    <div class="col-xs-12 col-sm-8">
        <h1>Zerwego</h1>
        <h2>{{ tagline }}</h2>
        <hr>
        <a href="http://itunes.apple.com/" target="_blank">
          <img src="../../assets/app-store-badge.png" alt="app-store-badge" style="height: 70px">
        </a>
        <a href="https://play.google.com/store" target="_blank">
          <img src="../../assets/google-play-badge.png" alt="google-play-badge" style="height: 70px">
        </a>
    </div>
    <div class="col-xs-12 col-sm-4">
        <app-home-signup></app-home-signup>
    </div>
  </div>
</div>
<app-footer></app-footer>