<h2 class="text-center">Create your first trip!</h2>
<form [formGroup]="signupForm" (ngSubmit)="onSubmit()" (keydown.enter)="$event.preventDefault()">
    <div class="form-group">
        <mat-form-field>
            <input matInput placeholder="Username" type="text" id="username" formControlName="username">
            <mat-error>
                Username is <strong>required</strong>
            </mat-error>
        </mat-form-field>
    </div>

    <div class="form-group">
        <mat-form-field>
            <input matInput placeholder="Email" type="email" id="email2" formControlName="email">
            <mat-error *ngIf="signupForm.get('email').hasError('email') && !signupForm.get('email').hasError('required')">
                Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="signupForm.get('email').hasError('required')">
                Email is <strong>required</strong>
            </mat-error>
        </mat-form-field>
    </div>

    <div class="form-group">
        <mat-form-field>
          <input matInput placeholder="Phone" type="phone" id="phone2" formControlName="phone">
          <!-- <mat-error *ngIf="authForm.get('phone').hasError('phone') && !authForm.get('phone').hasError('required')">
            Please enter a valid email address
          </mat-error> -->
          <mat-error *ngIf="signupForm.get('phone').hasError('required')">
            Phone number is <strong>required</strong>
          </mat-error>
        </mat-form-field>
    </div>

    <div class="form-group">
        <mat-form-field>
            <input matInput placeholder="Password" type="password" id="password2" formControlName="password">
            <mat-error>
                Password is <strong>required</strong>
            </mat-error>
        </mat-form-field>
    </div>

    <div class="form-group">
        <mat-form-field>
            <input matInput placeholder="Confirm password" type="password" formControlName="confirmPassword">
            <mat-error *ngIf="signupForm.get('confirmPassword').hasError('notSame')">
                Passwords do not match
            </mat-error>  
        </mat-form-field>
    </div>

    <div>
        <button type="submit" class="zerwego-btn blue-btn home-btn">
            Sing up
        </button>
    </div>
</form> 
<br>
<p class="text-center"> Or sign up with</p>
<div class="social-box">
    <button type="button" class="facebook btn" (click)="facebookLogin()"><i class="fab fa-facebook-f"></i></button>
    <button type="button" class="google btn"><i class="fab fa-google-plus-g"></i></button>
    <button type="button" class="linkedin btn"><i class="fab fa-linkedin-in"></i></button>
</div>