<div class="container home-page">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
        <h1>Zerwego</h1>
        <h2>{{ tagline }}</h2>
        <hr>
        <button type="button" class="btn zerwego-btn home-btn" routerLink="./trips/new/overview">Create a trip</button>
    </div>
    <div class="col-xs-12 col-sm-6">
        <ul>
          <li>Create a trip</li>
          <li>Invite friends to the trip</li>
          <li>Manage bidgets</li>
          <li>Manage reservations</li>
          <li>Share documents</li>
          <li>Update calendar</li>
          <li>Communicate</li>
          <li>Travel safe, worry-free and enjoy</li>
        </ul>
    </div>
  </div>
</div>
<app-footer></app-footer>