mat-form-field, button {
    width: 100%;
}

// .facebook {
//     color: #3B5998;
//     border: 1px solid #3B5998;
//     transition: 0.2s;
//     &:hover {
//         background-color: #3B5998;
//         color: #fff;
//     }
// }

// .google {
//     color: #dd4b39;
//     border: 1px solid #dd4b39;
//     transition: 0.2s;
//     &:hover {
//         background-color: #dd4b39;
//         color: #fff;
//     }
// }

// .linkedin {
//     color: #0073b1;
//     border: 1px solid #0073b1;
//     transition: 0.2s;
//     &:hover {
//         background-color: #0073b1;
//         color: #fff;
//     }
// }

// .facebook {
//     color: #fff;
//     background-color: #3B5998;
//     // border: 1px solid #3B5998;
//     transition: 0.2s;
//     &:hover {
//         // background-color: #3B5998;
//         opacity: 0.85;
//         color: #fff;
//     }
// }

// .google {
//     color: #fff;
//     // border: 1px solid #dd4b39;
//     background-color: #dd4b39;
//     transition: 0.2s;
//     &:hover {
//         // background-color: #dd4b39;
//         opacity: 0.85;
//         // color: #fff;
//     }
// }

// .linkedin {
//     color: #fff;
//     // border: 1px solid #0073b1;
//     background-color: #0073b1;
//     transition: 0.2s;
//     &:hover {
//         opacity: 0.85;
//         // background-color: #0073b1;
//         // color: #fff;
//     }
// }

.col-xs-12:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    padding: 10px 25px;
    font-size: 18px;
    border-radius: 3px;
    font-weight: 200;
}
