@import "../style/config.scss";

.home-page {
    // Substract navbar and footer
    height: calc(100vh - 120px);
    display: flex;
    align-items: center;
    ul {
        float: right;
        margin-bottom: 0;
        padding-left: 0;
        font-size: 22px;
        font-weight: 100;
        line-height: 1.8;
        list-style-type: none;
    }
}